<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Angular and WebApi Client", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            
            <div class="row">
                <ul class="list-unstyled list-inline">
                    <li><button class="btn btn-default request" data-scope='openid' data-type='id_token'>Login Only</button></li>
                    <li><button class="btn btn-default request" data-scope='openid profile' data-type='id_token'>Profile</button></li>
                    <li><button class="btn btn-default request" data-scope='openid profile email api api2' data-type='id_token token'>Profile and API Access</button></li>
                    <li><button class="btn btn-default request" data-scope='api' data-type='token'>API Access Only</button></li>
                    <li><button class="btn btn-info revoke">Revoke Access Token</button></li>
                    <li><button class="btn btn-info logout">Logout</button></li>
                </ul>
            </div>

            <div class="row">
                <ul class="list-unstyled list-inline">
                </ul>
            </div>


        </div>
    </div>
    <div class="container body-content" style="margin-top: 75px">
        @RenderBody()
        <hr />
        <footer>
            <div >
                <div class="panel panel-default  col-sm-12">
                    <div class="panel-heading">Message</div>
                    <div class="panel-body">
                        <pre id="response"></pre>
                    </div>
                </div>
                <div class="panel panel-default col-sm-12">
                    <div class="panel-heading">Current User</div>
                    <div class="panel-body">
                        <pre id="id-token"></pre>
                    </div>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="~/Content/libs/oidc-client.js"></script>
<script src="~/Content/app.js"></script>
</body>
</html>
